@charset "UTF-8";
/* CSS Document */

html {
	background-color: #353232;;
	font-family: "proxima-nova";
}

.navbar-default {
    background-color: #353232;
    border-color: #353232;
}

#aboutme {
	color: white;
	font-size: 24px;
}
